{{/* Canonical absoluto y limpio. Respeta .Params.canonical si existe */}}

{{- $u := "" -}}

{{- with .Params.canonical -}}
  {{- $u = . -}}
{{- else -}}
  {{- $u = .RelPermalink | absURL -}}
{{- end -}}

{{/* Limpia querystring y hash por seguridad */}}
{{- $u = replaceRE `\?.*$` `` $u -}}
{{- $u = replaceRE `#.*$` `` $u -}}

{{/* Normaliza barra final SOLO si parece URL "de directorio" */}}
{{- if and (not (strings.HasSuffix $u "/")) (not (strings.HasSuffix $u ".html")) -}}
  {{- $u = printf "%s/" $u -}}
{{- end -}}

<link rel="canonical" href="{{ $u }}">
