<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/custom.css">
</head>
<body>

<header>
  <nav>
    <a href="/">Inicio</a> |
    <a href="/modelos/">Modelos</a>
  </nav>


</header>

<main>
  {{ block "main" . }}{{ end }}
</main>


<footer class="site-footer">
  <div class="wrap">
    <div>
      Aviso: algunos enlaces pueden ser de afiliado. Si compras a través de ellos, este sitio puede recibir una comisión sin coste adicional para ti.
    </div>
    <div style="margin-top:8px;">
      © {{ now.Format "2006" }} recambios-aspirador
    </div>
  </div>
</footer>
</body>
</html>
