{{ $verticalKey := .verticalKey | default "aspiradores" }}
{{ $brandKey := .brandKey | default "" }}
{{ $brand := .brand | default dict }}
{{ $modelSlug := .modelSlug | default "" }}
{{ $modelName := .modelName | default "" }}
{{ $pageTitle := .pageTitle | default $modelName | default "producto" }}

{{ $offersDoc := site.Data.ofertas | default dict }}
{{ $offers := cond (and $offersDoc $offersDoc.offers) $offersDoc.offers (dict) }}
{{ $defaults := site.Data.vertical_defaults | default dict }}
{{ $result := dict
  "src" (printf "/img/verticals/%s.webp" $verticalKey)
  "alt" $pageTitle
  "source" "vertical_static"
  "isApproximate" true
}}

{{ if and $brandKey $modelSlug }}
  {{ $newSku := printf "%s-%s-nuevo" $brandKey $modelSlug }}
  {{ if isset $offers $newSku }}
    {{ $offer := index $offers $newSku }}
    {{ $imageURL := index $offer "image_url" | default "" }}
    {{ $productTitle := lower ((index $offer "product_title") | default "") }}
    {{ $looksLikeSpare := or
      (in $productTitle "adaptador de bater")
      (in $productTitle "battery adapter")
      (in $productTitle "convertidor a ")
      (in $productTitle "replacement battery")
      (in $productTitle "bateria compatible")
      (in $productTitle "batería compatible")
    }}
    {{ if and $imageURL (not $looksLikeSpare) }}
      {{ $result = dict
        "src" $imageURL
        "alt" (printf "Imagen orientativa de %s nuevo" ($modelName | default $pageTitle))
        "source" "model_new"
        "isApproximate" false
      }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $result }}
