{{- /*
Shortcode: aff
Params:
- title  (texto del enlace)
- vendor ("amazon" | "aliexpress" | "" )
- url    (url destino)
- asin   (solo Amazon; genera URL a Amazon ES)
- note   (opcional)
- class  (opcional: clases CSS extra en el wrapper, ej "aff--primary")
*/ -}}

{{- $title := .Get "title" | default "Ver oferta" -}}
{{- $vendor := lower (.Get "vendor" | default "") -}}
{{- $url := .Get "url" | default "" -}}
{{- $asin := .Get "asin" | default "" -}}
{{- $note := .Get "note" | default "" -}}
{{- $class := .Get "class" | default "" -}}

{{- $amazonTag := site.Params.amazonTag | default "" -}}

{{- /* Amazon por ASIN */ -}}
{{- if and (eq $vendor "amazon") (ne $asin "") -}}
  {{- $base := printf "https://www.amazon.es/dp/%s" $asin -}}
  {{- if ne $amazonTag "" -}}
    {{- $url = printf "%s?tag=%s" $base (urlquery $amazonTag) -}}
  {{- else -}}
    {{- $url = $base -}}
  {{- end -}}
{{- end -}}

{{- /* AliExpress: usa tu deeplink tal cual (s.click.aliexpress.com) */ -}}

{{- if ne $url "" -}}
  <p class="aff {{ $class }}">
    <a class="aff__btn" href="{{ $url | safeURL }}" target="_blank" rel="sponsored nofollow noopener">
      {{- $title -}}
    </a>
    {{- if ne $note "" -}}
      <small class="aff__note">{{ $note }}</small>
    {{- end -}}
  </p>
{{- end -}}
